<div class="modal-card p-4 my-3">

      <h2 class=" my-3 "> Edit Treatment </h2>
      <div>
        <%= simple_form_for [@center, @treatment] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price_cents, label: 'Price'%>
        <%= f.input :category, collection:["Spa","Massage","Health"] %>
        <%= simple_fields_for :photos do |p|   %>
          <%= p.input :attachment, as: :file, input_html: {multiple: true, name: "photos[attachment][]" } %>
          <% end %>
        <%= f.input :capacity_per_hour %>
        <%= f.input :duration %>
        <%= f.submit "Submit", class: "btn-flat" %>
      <% end %>
      </div>

  </div>
