  <div class="modal-card p-3 my-3">

      <h2 class="mx-2 my-3 pl-1"style="font-weight: bold;"> Add new Treatment </h2>
      <div>
        <%= simple_form_for [@center, @treatment] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price_cents, label: 'Price'%>
        <%= f.input :category, collection:["Spa","Massage","Health"] %>
        <%= f.input :capacity_per_hour %>
        <%= f.input :duration %>
        <%= f.submit "Add new Treatment", class: "btn-flat" %>
      <% end %>
      </div>

  </div>
