<div>
  <%= simple_form_for (@center) do |f| %>
  <%= f.input :name %>
  <%= f.input :contact_person %>
  <%= f.input :address %>
  <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
