<h1 class="text-center bg-white">All Treatments</h1>
<div class="d-flex p-2 bd-highlight">
  <div class="card-container">
  <% @centers.each do |center| %>

  <div class="treatment-centre-card-product">
    <div class="centre-card-details1">
    <div class="treatment-centre-card-product-infos">
      <div class="treatment-centre-card-product-infos-text">
      <p><%= link_to center.center_name.upcase, center_path(center.id)%></p>
      <p><%= center.address.capitalize %></p>


    <% if policy(center).update? %>
    <%= link_to 'Edit', edit_treatment_path(center) %>
    <% end %>
    <% if policy(center).destroy? %>
    <%= link_to '', center, method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash" %>
    <% end %>
      </div>
      </div>
      </div>
      <div class="centre-card-details">
        <div class="centre-card-price">
      <p><%= center.name.capitalize %></p>

      </div>
      </div>
  </div>
  <% end %>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>


