<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@center.photos.first&.attachment&.url || "default-thumb_qpqfou.png" )%>)">
  <div class="container">
    <div class="center-page">
      <h1 class= "text-light font-weight-bold"><%= @center.name %></h1>
      <p class= "text-light font-weight-normal"><%= @center.address%></p>
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><p class= "text-light font-weight-light-small"> <%= @center.no_of_reviews %> Reviews</p>
    <%= link_to "Book Now", new_treatment_booking_path(@center.treatments.first), class: "btn btn-flat" %>
      <div class="p-2 flex-shrink-1 bd-highlight"></div>
    </div>
  </div>
</div>
<div class="mt-3 container pt-3 z-depth-1">
  <section class="dark-grey-text border-bottom-light">
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-4">
        <!-- Featured news -->
        <div class="single-news">
          <!-- Image -->
          <div class="view overlay rounded z-depth-1-half mb-4 treatment-img img-fluid">
            <%= cl_image_tag(@center.treatments.first.photos.first&.attachment&.url, class: "treatment-img img-fluid")%>
          </div>
          <div class="view overlay rounded z-depth-1-half mb-4">
          </div>
          <!-- Data -->
          <div class=" d-flex align-items-start">
           <div class="flex-grow-1"><h6 class="font-weight-bold"><%=@center.treatments.first.name%> </h6></div>
           <div class="pr-2"><p class="font-weight-light"><%= @center.treatments.first.category %></p></div>
           <div class=""><%= link_to "Book Now", new_treatment_booking_path(@center.treatments.first), class: "btn-flat" %></div>
          </div>
          <div class="d-line">
            <p class="font-weight-regular">Starting from <%= @center.treatments.first.price %> €</p>
            <p class="text-muted font-weight-bold"> <%= @center.treatments.first.duration %>  mins</p>
          </div>
          <!-- Excerpt -->
          <h3 class="font-weight-bold dark-grey-text mb-3"></h3>
          <p class="text-muted font-weight-light">This massage aims to reduce pain by providing you high-quality
            massages tailored to your needs by professional,
            personable and degree-level physiotherapists and
          sports massage therapists.</p>
        </div>
        <!-- Featured news -->
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-4">
        <!-- Small news -->


        <div class="single-news mb-4">

          <!-- Grid row -->
          <div class="row">

            <div class="col-md-3">
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">


              </div>
            </div>
            <div class="col-md-9">
              <p class="font-weight-bold grey-text text-uppercase small">OPENING HOURS</p>
              <div class="d-flex justify-content-between">
                <!-- Excerpt -->
                <p class="text-muted font-weight-light">Monday</p>
                <p class="font-weight-light">09:00 - 17:00</p>

              </div>

               <div class="d-flex justify-content-between">
                <!-- Excerpt -->
                <p class="text-muted font-weight-light">Tuesday</p>
                <p class="font-weight-light">10:00 - 15:00</p>

              </div>
               <div class="d-flex justify-content-between">
                <!-- Excerpt -->
                <p class="text-muted font-weight-light">Wednesday</p>
                <p class="font-weight-light">09:00 - 17:00</p>

              </div>
               <div class="d-flex justify-content-between">
                <!-- Excerpt -->
                <p class="text-muted font-weight-light">Thursday</p>
                <p class="font-weight-light">09:00 - 17:00</p>

              </div>
               <div class="d-flex justify-content-between">
                <!-- Excerpt -->
                <p class="text-muted font-weight-light">Friday</p>
                <p class="font-weight-light">09:00 - 17:00</p>

              </div>
               <div class="d-flex justify-content-between">
                <!-- Excerpt -->
                <p class="text-muted font-weight-light">Saturday</p>
                <p class="font-weight-light">10:00 - 15:00</p>

              </div>

              <div class="d-flex justify-content-between">
                <!-- Excerpt -->

                <%#= link_to "Book", new_center_treatment_booking_path(treatment.center_id, treatment.id), class: "btn-flat" %>
                   <%# if @user_booked_treatments.include?(treatment) %>
               <%#= link_to "Review", new_center_treatment_booking_review_path(treatment.center_id, treatment.id, treatment.bookings.where(customer: current_user).last )  %>
                <%# end %>
                <p class="text-muted font-weight-light">Sunday</p>
                <p class="font-weight-light">Closed</p>

              </div>

              <div class="d-flex justify-content-between mb-2">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <p class="text-muted font-weight-light"></p>
                </div>
              </div>

            <% @center.treatments.each do |t|  %>

            <div class=" d-flex align-items-start">
           <div class="flex-grow-1"><h6 class="font-weight-bold"><%=@center.treatments.first.name%> </h6></div>
           <div class="pr-2"><p class="font-weight-light"><%= @center.treatments.first.category %></p></div>
           <div class=""><%= link_to "Book Now", new_treatment_booking_path(@center.treatments.first), class: "btn-flat" %></div>
          </div>
          <p class="font-weight-bold"><%= t.name  %></p>

          <p>Starting from <%= t.price %>€</p>
          <p class="text-muted font-weight-bold"><%= t.duration %> mins</p>
          <p class="text-muted font-weight-light"><%= t.description  %></p>
          <p><%= t.category %></p>
          <% end%>

            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Small news -->
        <!-- Small news -->
      </div>
      <!--Grid column-->
    </div>
  </div>
  <!-- Grid row -->
</section>
<!--Section: Content-->
<!--Section: Content-->
<section class="magazine-section mt-3">
  <section class="dark-grey-text">
    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-4">
            <h4 class="font-weight-normal mb-4">About Us</h4>
            <p class="text-muted font-weight-light">A peaceful sanctuary to relax and leave you feeling refreshed and with a renewed and relaxed mind and body.</p>
            <p class="text-muted font-weight-light"> <%= @center.description  %> </p>
          </div>
          <div class="col-lg-6 mb-4">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 treatment-img" src="https://images.unsplash.com/photo-1512867957657-38dbae50a35b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1096&q=80" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 treatment-img" src="https://images.unsplash.com/photo-1523471826770-c437b4636fe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1096&q=80" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 treatment-img" src="https://images.unsplash.com/photo-1545841729-03020ac33895?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1096&q=80" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
    </div>
  </section>
</section>
<!--Section: Content-->
<div class="container my-5">
  <!--Section: Content-->
  <section class="text-center dark-grey-text">
    <!--/.Controls-->
  </div>
</section>
<!--Section: Content-->
</div>
</div>
<div class="my-5 px-5 pb-4">
<!-- Section: Block Content -->
<section class="mb-4">
<style>
.map-container {
overflow: hidden;
position: relative;
height: 0;
}
.map-container iframe {
left: 0;
top: 0;
height: 100%;
width: 100%;
position: absolute;
}
</style>
</section>
<!-- Section: Block Content -->
<div class="container">
<h4 class="font-weight-normal">Recommended For You</h4>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1534003888922-a3504fa8914e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
    Thermal Spa
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519823551278-64ac92734fb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
    Couple's Massage
  </div>
  <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1545183387-50fea397256e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
    Swedish Massage
  </div>
  </div>
</div>
</div>
<section class="magazine-section mt-3">
  <section class="dark-grey-text">
    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-4">
            <div
        class="pt-2 px-2"
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
          </div>
          <div class="col-10 col-md-4 align-self-center py-4">
             <h6 class="font-weight-bold grey-text text-uppercase small"> <%= @center.name %> </h6>
      <p class="text-muted font-weight-light"><%=@center.address%></p>
      <p class="text-muted font-weight-light mb-0">Phone: +39 987 123 6548<br>Email: <%= @center.contact_person.downcase%>@libero.it</p>
          </div>
        </div>
    </div>
  </section>
</section>

