<div class="banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/Almablu-Wellness-Spa_oapmrf.jpg);">
  <div class="container-search margin-left">
    <h1>Search<strong> your</strong> amazing <strong>wellness experience</strong>!</h1>
    <p>Search, book, and live a unique experience..</p>
    <%= render 'shared/search-form' %>

  </div>
</div>
<h2 class="card-title margin-left mt-3">Explore Treatments</h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575306822/estheclinic-slimming_kxjr66.jpg)">
    <%= link_to 'Health Treatments', treatments_path(:category => "Health"), class: "card-category-link" %>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/spa-wellness-green-park-madama-1_y0tpwx.jpg)">
    <%= link_to 'Spa', treatments_path(:category => "spa"), class: "card-category-link" %>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575306450/andergassen-web-1056_yiekir.jpg)">
    <%= link_to 'Massage', treatments_path(:category => "Massage"), class: "card-category-link" %>
  </div>
</div>



<div class="banner-present" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/spa-wellness-green-park-madama-1_y0tpwx.jpg);">
  <div class="container.present margin-left">
    <h1>Your wellness gift </h1>
    <p>Give a special experience to your special person.</p>
    <a class="btn btn-flat" href="#">Make a gift</a>
  </div>
</div>

<h2 class="card-title margin-left mt-3">Choose your wellness experience.</h3>
<p class="card-subtitle margin-left">Are you looking for a location or treatment to regenerate and escape from everyday stress?</p>
<div class="treatments-card-container">
    <%  @centers.each do |c| break if c.id > 4 %>
  <div class="card shadow-border" style="width: 18rem;">
    <img class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575387888/s_redspu.jpg);">
    <div class="card-body">
      <h3 class="center-card-title"><%= c.name %></h3>
      <p class="card-text text-truncate"><%= c.description %></p>
      <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>
  <% end %>
  </div>
</div>

<!-- Footer -->
