<body>
  <main class="page">
    <section class="shopping-cart dark">
      <div class="container">
        <div class="block-heading">
          <h2>Shopping Cart</h2>
          <p>Book your wellness experience</p>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="items">
                <div class="product">
                  <div class="row">
                    <div class="col-md-3">

                    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@booking.treatment.photos.first&.attachment&.url || "default-thumb_qpqfou.png") %>)"></div>


                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-5 product-name">
                            <div class="product-name">
                              <a href="#"><%= @booking.treatment.name %></a>
                              <div class="product-info">
                                <div><p><%= @booking.treatment.description %></p></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 quantity">
                            <label for="quantity">Person:</label>
                            <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                          </div>
                          <div class="col-md-3 price">
                            <span><%= humanized_money_with_symbol @booking.price %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="summary">
                <h1>Checkout summary</h1>
                <p>Purchase of <strong><%= @booking.treatment.name %></strong> for <strong><%= humanized_money_with_symbol @booking.price %></strong></p>
                <button id="pay" class="btn btn-primary">Pay</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                const paymentButton = document.getElementById('pay');
                paymentButton.addEventListener('click', () => {
                const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                stripe.redirectToCheckout({
                sessionId: '<%= @booking.checkout_session_id %>'
                });
                });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>






